{% extends "blog/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="container">
    <div class="jumbotron">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-grp">
                <legend class="border-bottom mb-4">Join Today</legend>
                {% bootstrap_form form %}
                <input type="submit" class='btn btn-outline-info' name="" id="" value="Sign Up">
            </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account?
                <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
  </div>
{% endblock content %}